body{
    background-color: #4E5674;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
}
h1{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: gray;
}
.menu{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.lien1 {
    background-color: transparent;
    color: black;

}
.bouton{
    background-color: transparent;
    color: black;
    border: 3px;
    border-style: solid;
    border-radius: 30px;
    padding: 5px 10px;
}
.bouton:hover{
    background-color: white;
    color: black;
}

.loicopie{
    display: flex;
    flex-direction: row;
    gap: 360px;
}
.année{
    align-items: end;
}
